*, *:after, *before {
  box-sizing:border-box;
  }

.container {
  height:500px;
  max-height:667px;
  width:375px;
  margin:0 auto;
  position:relative;
  background-color:#f0f0f0;
  overflow:auto;
}

body {
  font-family:'Roboto', sans-serif;
  font-size:16px;
  line-height:2em;
  text-align:center;
  color: #000;
}

h1 {
  font-weight:bold;
  font-size:24px;
  margin-bottom:-10px;
}

h2 {
  font-size:20px;
  line-height:30px;
  font-weight:normal;
  border-bottom:1px solid #C9CACE;
  margin-bottom:2px;
  color: #1B6CE5;
}

a, a:active, a:visited, a:hover {
  color: #1b6ce5;
  text-decoration:none;
}

input {
  width:90%;
  height:2em;
  color:#999;
  text-align:center;
  border: 1px solid #f0f0f0;
  background-color: #e8e8e8;
  border-radius:10px;
}

.header {
  max-width:375px;
  margin: 0 auto;
  background-color:#f0f0f0;
}

.line, .destination, .frequency {
  float:left;
  box-sizing:border-box;
  line-height:35px;
  white-space:nowrap;
}

footer {
  color: #1B6CE5;
  position:static;
  bottom:0px;
  height:40px;
  background-color:#f0f0f0;
  margin:auto;
  width:375px;
  border-top:1px solid #999;
}

.backbutton {
  height:45px;
  float:left;
}

.bound {
  clear:both;
  display:inline-block;
  width:100%;
  margin-bottom:10px;
}

.busNum {
  border:1px solid #1b6ce5;
  border-radius:50%;
  margin-left:20px;
  max-height:35px;
  margin-top:2px;
  width:50%;
}

.brand {
  font-size:35px;
  line-height:40px;
  margin-left:-45px;
  letter-spacing:2px;
  font-family:'Fugaz One', sans-serif;
  font-weight:bold;
}

.fa-search {
  color:#1b6ce5;
}

.bar {
  margin:0 auto;
  max-width:375px;
  position:static;
  max-height:25px;
}
.line {
  width: 20%;
  margin-top:2px;
}

.destination, .frequency {
  width:40%;
  line-height:39px;
  margin-top:2px;
}
